<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web Automation Suite" preserve-order="true">
    <test name="Smoke Tests" preserve-order="true">
        <classes>
            <!-- 1. Login Tests -->
            <class name="tests.LoginTest">
                <methods>
                    <include name="verifyUserCanLogin"/>
                    <include name="verifyInvalidLogin"/>
                    <include name="verifyEmptyLogin"/>
                </methods>
            </class>

            <!-- 2. HRMS Create Employee Tests -->
            <class name="tests.HRMSTest">
                <methods>
                    <include name="createNewEmployee"/>
                    <include name="createEmployeeMinimalData"/>
                </methods>
            </class>

            <!-- 3. Search / Edit / Deactivate Employee Tests -->
            <class name="tests.SearchEmployeeTest">
                <methods>
                    <include name="editEmployee"/>
                    <include name="deactivateEmployee"/>
                    <include name="searchAndVerifyEmployee"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
